* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.lists {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pet-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pet-hold {
    margin: 5px 10px 5px 10px;
}
.pet-hold img {
    width: 200px;
}

.pet-hold .name {
    font-weight: bolder;
}